# --- OS ---
.DS_Store
Thumbs.db

# --- Visual Studio ---
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# --- .NET ---
bin/
obj/
*.pdb

# --- Node / Frontend ---
node_modules/
dist/
.vite/

# --- Docker ---
*.log

# --- Env ---
.env
.env.*
