name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  api-build:
    name: API - Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: Restore
        working-directory: apps/MiniOps.API
        run: dotnet restore

      - name: Build
        working-directory: apps/MiniOps.API
        run: dotnet build -c Release --no-restore

  web-build:
    name: Web - Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"
          cache-dependency-path: "apps/web/package-lock.json"

      - name: Install dependencies
        working-directory: apps/web
        run: npm ci

      - name: Build
        working-directory: apps/web
        run: npm run build
