name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  api-build:
    name: API - Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: Restore
        working-directory: apps/MiniOps.API
        run: dotnet restore

      - name: Build
        working-directory: apps/MiniOps.API
        run: dotnet build -c Release --no-restore

  web-build:
    name: Web - Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"
          cache-dependency-path: "apps/web/package-lock.json"

      - name: Install dependencies
        working-directory: apps/web
        run: npm ci

      - name: Build
        working-directory: apps/web
        run: npm run build
  
  docker-build:
    name: Docker - Build & Push (GHCR)
    runs-on: ubuntu-latest
    needs: [api-build, web-build]
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Build & push API image
        uses: docker/build-push-action@v6
        with:
          context: apps/MiniOps.API/MiniOps.API
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/miniops-api:${{ github.sha }}
            ghcr.io/${{ github.repository_owner }}/miniops-api:latest
        
      - name: Build & push WEB image
        uses: docker/build-push-action@v6
        with: 
          context: apps/web
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/miniops-web:${{ github.sha }}
            ghcr.io/${{ github.repository_owner }}/miniops-web:latest    